/* Страница "О нас" */

.about__title {
  color: #fff;
  font-size: 30px;
}

@media (max-width: 768px) {
  .about__title {
    font-size: 26px;
  }
}

@media (max-width: 390px) {
  .about__title {
    font-size: 20px;
  }
}

/* Контент */
.about__content {
  background-color: rgba(225, 225, 225, 0.086);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
  box-shadow: 4px 4px 25px rgba(155, 0, 0, 0.686);
}

@media (max-width: 768px) {
  .about__content {
    padding: 25px;
    gap: 30px;
  }
}

@media (max-width: 390px) {
  .about__content {
    width: 100%;
    margin: 20px 0;
    gap: 20px;
    padding: 20px;
  }
}

.about__text {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .about__text {
    font-size: 16px;
  }
}

@media (max-width: 390px) {
  .about__text {
    font-size: 14px;
  }
}

/* Блок преимуществ */
.features {
  margin-top: 10px;
}

.features__title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .features__title {
    font-size: 22px;
  }
}

@media (max-width: 390px) {
  .features__title {
    font-size: 18px;
  }
}

.features__list {
  list-style: disc;
  padding: 15px;
}

@media (max-width: 390px) {
  .features__list {
    padding: 10px;
  }
}

.features__item {
  padding: 15px;
  color: #fff;
  font-size: 18px;
}

.features__item::marker {
  color: red;
}

@media (max-width: 768px) {
  .features__item {
    padding: 12px;
    font-size: 16px;
  }
}

@media (max-width: 390px) {
  .features__item {
    padding: 10px 10px 10px 0;
    font-size: 14px;
  }
}