/*Сброс стилей*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
button{
    border: none;
    background: transparent;
}
/*Стили для шапки*/
header{
    padding: 20px;
    background-color: black;
}
header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header-zag{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.header-zag h1{
    color: #fff;
}
.header-zag img{
    width: 50px;
    height: 50px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
header nav ul li a{
    color: #fff;
    font-size: 18px;
}
/*стили для тела*/
body{
    background-color: black;
}
/*Стили для подвала*/
footer{
    padding: 30px;
}
.footer-zag{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.footer-zag img{
    width: 40px;
    height: 40px;
}
.footer-zag span{
    color: #fff;
    font-size: 25px;
}
/*Мобильная адаптация*/
@media (max-width:400px) {
    /*Шапка*/
    header{
        padding: 10px;
    }
    header nav{
        gap: 40px;
    }
    .header-zag{
        gap: 5px;
    }
    .header-zag img{
        width: 30px;
        height: 30px;
    }
    .header-zag h1{
        font-size: 18px;
    }
    header nav ul{
        gap: 10px;
    }
    header nav ul li a{
        font-size: 14px;
    }
    /*Подвал*/
    footer{
        padding: 10px;
    }
    .footer-zag img{
        width: 30px;
        height: 30px;
    }
    .footer-zag span{
        font-size: 18px;
    }
}