/*1 секция*/
.models{
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    color: #fff;
}
.models h1{
    font-size: 30px;
}
.cars{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 350px;
    width: 100%;
    padding: 20px;
    background-color: #6c6c6c;
    border-radius: 15px;
    align-items: center;
    transition: all 0.4s ease;
    box-shadow: 4px 4px 20px rgba(155, 0, 0, 0.686);
}
.item:hover{
    transform: scale(1.03);
    box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.686);
}
.item img{
    max-width: 400px;
    width: 100%;
}
/*Мобильная адаптация*/
@media(max-width:400px){
    .models{
        margin: 30px auto;
    }
    .models h1{
       font-size: 20px;
       margin-left: 20px;
    }
    .cars{
        width: 75%;
        margin: 20px auto;
        gap: 30px;
    }
    .item{
        box-shadow: 2px 2px 14px rgba(155, 0, 0, 0.686);
    }
    .item:hover{
        box-shadow: 2px 2px 14px rgba(255, 255, 255, 0.686);
    }
    .item h2{
        font-size: 16px;
    }
    .item p{
        font-size: 14px;
    }
}