/* Страница контактов */
.contacts__container {
  max-width: 1200px;
}

@media (max-width: 1400px) {
  .contacts__container {
    max-width: 1000px;
  }
}
@media (max-width: 1200px) {
  .contacts__container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .contacts__container {
    max-width: 500px;
  }
}

@media (max-width: 390px) {
  
}

.contacts__content{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}

.contacts__title {
  color: #fff;
  font-size: 30px;
}

@media (max-width: 768px) {
  .contacts__title {
    font-size: 26px;
  }
}
@media (max-width: 490px) {
  .contacts__title {
    font-size: 22px;
  }
}
@media (max-width: 390px) {
  .contacts__title {
    font-size: 20px;
  }
}

/* Блок контакта */
.contact {
  color: #fff;
}

.contact__title {
  padding-bottom: 20px;
  font-size: 24px;
}

@media (max-width: 768px) {
  .contact__title {
    font-size: 22px;
  }
}
@media (max-width: 490px) {
  .contact__title {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .contact__title {
    font-size: 18px;
  }
}

.contact__map {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(155, 0, 0, 0.686);
}

@media (max-width: 768px) {
  .contact__map {
    height: 350px;
  }
}

@media (max-width: 390px) {
  .contact__map {
    height: 250px;
  }
}

.contact__email {
  font-size: 20px;
}

@media (max-width: 768px) {
  .contact__email {
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  .contact__email {
    font-size: 14px;
  }
}

.contact__email strong {
  font-size: 20px;
}

@media (max-width: 390px) {
  .contact__email strong {
    font-size: 16px;
  }
}