.container{
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    color: #fff;
}
.services{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
}
.services li{
    background-color: #6c6c6c;
    padding: 20px;
    border-radius: 15px;
    list-style-type: disc;
    font-size: 20px;
    box-shadow: 2px 2px 15px rgba(155, 0, 0, 0.686);
}
.services li::marker{
    color: red;
}
/*Мобильная адаптация*/
@media(max-width:400px){
    .container{
        margin: 30px auto;
    }
    .container h1{
        font-size: 20px;
        margin-left: 20px;
    }
    .services{
        width: 80%;
        margin: 20px auto;
    }
    .services li{
        font-size: 16px;
        padding: 15px;
    }
}