.hero{
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
}
.hero h1{
    font-size: 30px;
}
.hero-container{
    background-color: rgba(225, 225, 225, 0.086);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 8px 4px 25px rgba(155, 0, 0, 0.686);
    margin: 30px auto;
}
.stocks ul{
    list-style: disc;
    padding-left: 20px;
}
.stocks ul li{
    padding: 15px;
}
.stocks ul li::marker{
    color: red;
    font-size: 18px;
}
/*Мобильная адаптация*/
@media(max-width:400px){
    .hero{
        margin: 30px auto;
    }
    .hero h1{
        font-size: 20px;
        margin-left: 20px;
    }
    .hero-container{
        width: 80%;
        margin: 20px auto;
        box-shadow: 4px 4px 15px rgba(155, 0, 0, 0.686);
        gap: 20px;
        padding: 20px;
    }
    .hero-container h2{
        font-size: 18px;
    }
    .stocks ul li{
        padding: 5px;
        font-size: 14px;
    } 
}